In [9]:
import os
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression

In [10]:
# 設定 data_path
ss = pd.read_csv(r"C:\Users\user\100 days\期中考\sample_submission.csv")
ss.head()

                 name       poi
0    BELDEN TIMOTHY N  0.007201
1  BOWEN JR RAYMOND M  0.903340
2      HANNON KEVIN P  0.572731
3    DELAINEY DAVID W  0.950927
4    CAUSEY RICHARD A  0.942402

In [12]:
# 設定 data_path
tf = pd.read_csv(r"C:\Users\user\100 days\期中考\test_features.csv")
tf.head()

,name,bonus,deferral_payments,deferred_income,director_fees,email_address,exercised_stock_options,expenses,from_messages,from_poi_to_this_person,...,loan_advances,long_term_incentive,other,restricted_stock,restricted_stock_deferred,salary,shared_receipt_with_poi,to_messages,total_payments,total_stock_value
0,BELDEN TIMOTHY N,5249999.0,2144013.0,-2334434.0,NaN,tim.belden@enron.com,953136.0,17355.0,484.0,228.0,...,NaN,NaN,210698.0,157569.0,NaN,213999.0,5521.0,7991.0,5501630.0,1110705.0
1,BOWEN JR RAYMOND M,1350000.0,NaN,-833.0,NaN,raymond.bowen@enron.com,NaN,65907.0,27.0,140.0,...,NaN,974293.0,1621.0,252055.0,NaN,278601.0,1593.0,1858.0,2669589.0,252055.0
2,HANNON KEVIN P,1500000.0,NaN,-3117011.0,NaN,kevin.hannon@enron.com,5538001.0,34039.0,32.0,32.0,...,NaN,1617011.0,11350.0,853064.0,NaN,243293.0,1035.0,1045.0,288682.0,6391065.0
3,DELAINEY DAVID W,3000000.0,NaN,NaN,NaN,david.delainey@enron.com,2291113.0,86174.0,3069.0,66.0,...,NaN,1294981.0,1661.0,1323148.0,NaN,365163.0,2097.0,3093.0,4747979.0,3614261.0
4,CAUSEY RICHARD A,1000000.0,NaN,-235000.0,NaN,richard.causey@enron.com,NaN,30674.0,49.0,58.0,...,NaN,350000.0,307895.0,2502063.0,NaN,415189.0,1585.0,1892.0,1868758.0,2502063.0

In [ ]:
# 最低準確度 Accuracy 需⼤大於0.7
# 如何處理理存在各種缺陷的真實資料
# 使⽤用 val / test data 來來了了解機器學習模型的訓練情形
# 使⽤用適當的評估函數了了解預測結果
# 應⽤用適當的特徵⼯工程提升模型的準確率
# 調整機器學習模型的超參參數來來提升準確率
# 清楚的說明⽂文件讓別⼈人了了解你的成果
# https://www.kaggle.com/c/3rd-ml100marathon-midterm

# 透過高層經理人內部的 mail 來往的情報以及薪資、股票等財務特徵，
# 訓練出一個機器學習模型來幫忙你找到可疑的詐欺犯罪者是誰! 
# 我們已經先幫你找到幾位犯罪者 (Person-of-Interest, poi) 與清白的員工，
# 請利用這些訓練資料來訓練屬於自己的詐欺犯機器學習模型吧!

# bonus 獎金
# deferral 延期
# director_fees 董事會費用
# exercised_stock_options 行使股票選項
# expenses 花費
# loan_advances 貸款進步
# long_term_incentive 長期激勵
# restricted_stock 限制性股票
# restricted_stock_deferred 限制性股票推遲
# salary 薪資